* {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: #ccc;
}

h1 {
    width: 50%;
    margin: 0 auto;
    color: #333;
    border-bottom: 5px solid #333;
}

h2 {
    margin: 50px auto -50px auto;
    color: #444;
}

p, ol, li {
    width: 60%;
    margin: 50px auto;
    padding: 25px 0;
    border: 3px solid #111;
    background-color: #222;
    color: #eee;
}

li {
    width: 90%;
    margin: 5px auto;
    background-color: #544;
}

li:nth-child(odd) {
    background-color: #644;
}

b {
    padding: 5px;
    background-color: firebrick;
    border: 1px solid #f21;
}

#img-header {
    width: 512px;
    height: 345px;
    background-image: url(../cooking-time.jpg);
    background-size: cover;
    margin: 0 auto;
    border: 1px solid #333;
}